html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height:100%;
  font-family: "Proxima Nova", "Gotham", "Helvetica Neue", Arial, sans-serif;
}

img {
  max-width: 100%;
  @media only screen and (max-width: 320px) {
    max-width: 80%;
  }
}

nav a {
  display: block;
  position: relative;
  padding: .5em;
  font-size: .875em;
}

.nav-dot {
  width: 14px;
  height: 14px;
  display: block;
  @include border-radius(50%);
  background: #333;
  opacity: .25;
}

.nav-dot, .nav-tooltip {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-tooltip {
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  background: rgba(50, 50, 50, 0.9);
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 1em;
  border-radius: 3px;
  opacity: 0;
}

nav a:hover .nav-tooltip {
  opacity: 1;
}

h2 {
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding: 4em 0 2em;
  position: relative;
  z-index: 2;

  @media only screen and (max-width:600px) {
    font-size: .75em;
  }
  @media only screen and (max-width:320px) {
    font-size: .5em;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 1px;
}

.next-section {
  display: block;
  margin: 2em auto 0;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: white;
  line-height: 26px;
  @include border-radius(50%);
  border: 2px solid #fff;
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}

.dots {
  margin: 0;
  position: relative;
  z-index: 1;
}

.dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: #444;

  text-indent: -999em;

  border-radius: 6px;
  cursor: pointer;
  opacity: .5;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.loading-logo {
  margin-top: 40px;
}

.loading-message {
  color: hsl(195, 98%, 20%);
  letter-spacing: -1px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: hsla(0, 100%, 100%, 0.4) 1px 1px 1px;

  &:after {
    content: "...";
  }
}
