html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height:100%;
  // overflow-y: none;
  overflow-x: none;
  font-family: "Proxima Nova", "Gotham", "Helvetica Neue", Arial, sans-serif;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.8);
  z-index: 1000;
}

h2 {
  text-align: center;
  font-size: 1em;

  margin: 4em 0 2em;
}