html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height:100%;
  font-family: "Proxima Nova", "Gotham", "Helvetica Neue", Arial, sans-serif;
}

img {
  max-width: 100%;
  @media only screen and (max-width: 320px) {
    max-width: 80%;
  }
}

h2 {
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding: 4em 0 2em;
  position: relative;
  z-index: 2;

  @media only screen and (max-width:600px) {
    font-size: .75em;
  }
  @media only screen and (max-width:320px) {
    font-size: .5em;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 1px;
}

.next-section {
  display: block;
  margin: 2em auto 0;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: white;
  line-height: 26px;
  @include border-radius(50%);
  border: 2px solid #fff;
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}

.dots {
  margin: 0;
  position: relative;
  z-index: 1;
}

.dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: #444;

  text-indent: -999em;
  
  border-radius: 6px;
  cursor: pointer;
  opacity: .5;
  
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &.active {
    opacity: 1;    
  }
}
