%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: ""; display: table;
  }
  &:after {
    clear: both;
  }
}

%page {
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  // width: 100%;
  min-height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // // visibility: hidden;
  // overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

%icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-block;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
}


%logo-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-indent: -9999px;

  display: inline-block;
  width: 140px;
  height: 120px;

  img {
    width: 150px;
  }
}
