.page-about {
  overflow: hidden;
}

.about-slider {
  position: relative;
  overflow: visible !important;
  width: 80%;
  max-width: 460px;
  margin: 0 auto;

  ul {
    @extend %clearfix;
  }

  @media only screen and (max-width: 600px) {
    font-size: .75em;
  }

  ul {
    margin: 0;
  }
}

.about-slider .about-item {
  float: left;
  list-style: none;
  padding: 0 2em 1em;
  width: 360px;
  max-width: 100%;
  min-width: 260px;
  //height: 420px;

  @media only screen and (max-width: 600px) {
    padding-left: .75em;
    padding-right: .75em;
    //height: 320px;
  }
}

.about-item-content {
  cursor: pointer;
  background: hsla(0, 87%, 30%, 0.75);
  border: 5px solid hsl(0, 89%, 32%);
  color: #fff;
  height: 100%;
  position: relative;
  @include border-radius(2px);
  @include box-shadow(0px 1px 5px rgba(0,0,0,0.5));

  @media only screen and (max-width: 600px) {
    padding: 1em;
  }

  p {
    font-size: 1.125em;
    padding: 0.4em 1em;
  }

  h3 {
    background-color: hsl(0, 78%, 25%);
    text-align: center;

    margin-top: 0;
    padding: 10px;
  }
}

.about-bear {
  @include horizontalFlip;
}
