%page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

html {
  height: 100%;
}

body {
  position: relative;
  height:100%;
  // overflow-y: none;
  // overflow-x: none;
}

.pages {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: none;
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.page-current {
  z-index: 1;
}


.page-1 {
  @extend %page;

  background-image: url(/img/page-1.jpg);
}

.page-2 {
  @extend %page;

  background-image: url(/img/page-2.jpg);
}

.page-3 {
  @extend %page;

  background-image: url(/img/page-3.jpg);
}

.page-4 {
  @extend %page;

  background-image: url(/img/page-4.jpg);
}

.page-1-bear {
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.page-2-bear {
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.page-1-bear-container {
  text-align: center;
}