%page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

html {
  height: 100%;
}

body {
  position: relative;
  height:100%;
  // overflow-y: none;
  overflow-x: none;
}

.pages {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.page-current {
  z-index: 1;
}

.animated {
  margin: 0 auto;
}


.page-main {
  @extend %page;

  background-image: url(/img/page-1.jpg);
}

.page-about {
  @extend %page;

  background-image: url(/img/page-2.jpg);
}

.page-schedule {
  @extend %page;

  background-image: url(/img/page-3.jpg);
}

.page-register {
  @extend %page;

  background-image: url(/img/page-4.jpg);
}

@mixin bear($width) {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -($width / 2);
}

.page-main-bear {
  @include bear(475px);
}

.page-about-bear {
  @include bear(406px);
}

.page-schedule-bear {
  @include bear(343px);
}

.page-register-bear {
  @include bear(448px);
}
