%schedule-icon {
  @extend %icon;

  width: 18px;
  height: 18px;
  margin: 0 10px;
  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.schedule {
  @extend %clearfix;

  width: 50%;
  min-width: 420px;
  max-width: 600px;
  padding: 2em;
  margin-left: 50%;

  @media only screen and (max-width: 480px) {
    padding: 1em;
    width: 100%;
    min-width: 100%;
    font-size: .75em;
    margin-left: 0;
  }
}

.schedule-list {
  @include border-radius(2px);

  background: #fff;
  border: 9px solid hsla(70, 88%, 31%, 0.8);
  opacity: 0.94;

  @media only screen and (max-width: 480px) {
    border: none;
  }
}

.schedule-item {
  @extend %clearfix;

  border-top: 1px solid rgba(0,0,0,0.2);

  padding: 10px 0;

  @media only screen and (max-width: 480px) {
    padding: 1em;

    strong {
      font-weight: 300;
      font-style: italic;
    }
  }

  &:first-child {
    border-top: 0px;
  }
}

.schedule-name {
}

.schedule-time {
  float: right;
  padding-right: 10px;
}

.schedule-greet {
  @extend %schedule-icon;

  background-image: url(/img/icon-greet.png);
}

.schedule-coffee {
  @extend %schedule-icon;

  background-image: url(/img/icon-coffee.png);
}

.schedule-food {
  @extend %schedule-icon;

  background-image: url(/img/icon-food.png);
}

.schedule-talk {
  @extend %schedule-icon;

  background-image: url(/img/icon-talk.png);
}

.schedule-hack {
  @extend %schedule-icon;

  background-image: url(/img/icon-hack.png);
}
