%schedule-icon {
  @extend %icon;

  width: 18px;
  height: 18px;
  margin: 0 10px;
  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.cloud-1 {
  @include animated-background-element('/img/cooking/cloud-1.png', 208px, 60px, 151px, 130px);
}
.cloud-2 {
  @include animated-background-element('/img/cooking/cloud-2.png', 196px, 101px, 193px, 333px);
}
.cloud-3 {
  @include animated-background-element('/img/cooking/cloud-3.png', 97px, 55px, 129px, 1452px);
}

.cloud-1,
.cloud-2,
.cloud-3 {
  @media only screen and (max-width: 600px) {
    @include transform(scale(.5));
  }
}

.schedule {
  @extend %clearfix;

  width: 50%;
  min-width: 420px;
  max-width: 600px;
  padding: 2em;
  margin-left: 40%;

  @media only screen and (max-width: 600px) {
    padding: 1em;
    width: 100%;
    min-width: 100%;
    font-size: .85em;
    margin-left: 0;
  }
}

.schedule-list {
//  @include border-radius(2px);

  background: #fff;
  background-clip: padding-box;
  border: 9px solid hsla(69, 87%, 12%, 0.32);
  opacity: 0.94;
//  background: #fff; //hsl(87, 87%, 94%);
//  background: rgba(255,255,255,0.95);
  //background-clip: padding-box;
  //border: 10px solid hsla(69, 87%, 12%, 0.32);

  @media only screen and (max-width: 600px) {
    border: none;
  }
}

.schedule-item {
  @extend %clearfix;
  @include border-radius(2px);

  background: #fff; //hsl(87, 87%, 94%);
  background: rgba(255,255,255,0.95);
  //border-top: 1px solid rgba(0,0,0,0.2);
  margin: 1px 0;

  padding: 10px 0;

  @media only screen and (max-width: 600px) {
    padding: 1em;

    strong {
      font-weight: 300;
      font-style: italic;
    }
  }

  &:first-child {
    border-top: 0px;
  }
}

.schedule-name {
}

.schedule-time {
  float: right;
  padding-right: 10px;
}

.schedule-greet {
  @extend %schedule-icon;

  background-image: url(/img/icon-greet.png);
}

.schedule-coffee {
  @extend %schedule-icon;

  background-image: url(/img/icon-coffee.png);
}

.schedule-food {
  @extend %schedule-icon;

  background-image: url(/img/icon-food.png);
}

.schedule-talk {
  @extend %schedule-icon;

  background-image: url(/img/icon-talk.png);
}

.schedule-hack {
  @extend %schedule-icon;

  background-image: url(/img/icon-hack.png);
}

.schedule-party {
  @extend %schedule-icon;

  background-image: url(/img/icon-party.png);
}
