.sponsors-container {
  margin-left: 50%;
  width: 50%;
  max-width: 660px;

  @media only screen and (max-width: 480px) {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.sponsors {
  position: relative;
  overflow: auto;
}

.sponsors-item {
  list-style: none;
  float: left;
}

.sponsors-logo-item {
  @include border-radius(2px);

  background-color: hsla(300, 81%, 10%, 0.65);
  //border: 5px solid hsla(300, 81%, 10%, 0.65);
  text-align: center;

  display: inline-block;
  margin: 2%;
  padding: 2%;
}

.apptitude-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/apptitude.png);
}

.carrollton-group-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/carrollton-group.png);
}

.cotingasoft-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/cotingasoft.png);
}

.ddd-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/ddd.png);
}

.federated-sample-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/federated-sample.png);
}

.flatstack-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/flatstack.png);
}

.gnoinc-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/gnoinc.png);
}

.hop-and-jaunt-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/hop-and-jaunt.png);
}

.kickboard-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/kickboard.png);
}

.lanyap-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/lanyap.png);
}

.launchpad-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/launchpad.png);
}

.red-ticket-games-logo {
  @extend %logo-image;

  background-image: url(/img/logos/modified/red-ticket-games.png);
}
